@import 'tailwindcss';

/* Set Noto Sans as the default font family */
body {
    font-family: EB Garamond, sans-serif;
}
#samuel-love-signature path {
    stroke: #FFFFFF; /* Black stroke for the writing */
    stroke-width: 0.5; /* Adjust for the desired line thickness */
    fill: transparent; /* Initially, the text is not filled */
    stroke-dasharray: 2000; /* A large value to cover the entire path length */
    stroke-dashoffset: 2000; /* Starts with the path being invisible */
    animation: draw 2.75s ease-in forwards, fill 1.25s linear 1s forwards;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/eb-garamond-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@keyframes draw {
    to {
        stroke-dashoffset: 0; /* Animates the line being drawn */
    }
}

@keyframes fill {
    to {
        fill: #FFFFFF; /* Fills the text with black after the drawing animation */
    }
}
/* Custom utility classes */
@layer components {
	.page-layout {
		@apply min-h-screen bg-stone-950 text-white;
	}
	
	.page-container {
		@apply max-w-4xl mx-auto p-4;
	}
	
	.page-title {
		@apply text-4xl font-bold mb-6 text-center;
	}
	
	.nav-link {
		@apply font-light hover:text-gray-300 transition-colors duration-200;
	}
	
	.scaling-text {
		@apply text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-3xl transition-all duration-300 ease-in-out;
	}
	
	.scaling-text-large {
		@apply text-base sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl transition-all duration-300 ease-in-out;
	}
}
